# Python bytecode
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
venv/
env/

# Large datasets / model files
*.json
*.csv
*.zip
*.h5
*.pkl
*.npy
*.npz

# Logs
*.log
*.tmp

# IDE & OS
.vscode/
.idea/
.DS_Store
Thumbs.db
